.footer {
    background: url("../img/footer/circle.svg") 0px 7px no-repeat;
}
.footer__container {
}

.footer__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

.footer__title {
    color: $orange;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 123%;
}
.footer__social {
}

.footer__social-link:not(:last-child) {
    margin: 0 16px 0 0;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 120px -15px;
    flex-wrap: wrap;
}

.footer__col {
    flex: 0 1 auto;
    padding: 10px 15px;
}
.footer__subtitle {
    color: $white;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 25px;
}
.nav {
}
.footer__list {
}
.footer__list-li {
    margin-bottom: 16px;

    a {
        color: $white;
        font-size: 15px;
        font-family: "Inter", sans-serif;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
        }
    }
}
.footer__copy {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}
.footer__copy-col {
    padding: 5px 17px;
    color: #8d8d8d;
    font-size: 14px;
    line-height: 142%;
    font-family: "Inter", sans-serif;

    &:hover {
        text-decoration: underline;
    }
}
